@import models.QuestionModel.{Question,QuestionRecord}
@(form: Form[Question], questions: Option[List[QuestionRecord]])

@tr(s: String, s1: String, s2: String, s3: String) = {
  <tr>
    <td>@s</td>
    <td>@s1</td>
    <td>@s2</td>
    <td>@s3</td>
  </tr>
}

@main("Welcome to Play") {

<h2>Create New Question</h2>
    @helper.form(action = routes.Questions.post()) {
        @helper.inputText(form("text"),'_label -> "Question Text")
        @helper.inputText(form("hint1"),'_label -> "Hint 1")
        @helper.inputText(form("hint3"),'_label -> "Hint 3")
        @helper.inputText(form("hint5"),'_label -> "Hint 5")
        <input type="button" onclick="submit" value="Create Question" />
    }


    @questions match {
        case Some(list) => {
<h2>My Questions</h2>
<table>
  <tr>
    <td>Question Text</td>
    <td>Hint 1</td>
    <td>Hint 3</td>
    <td>Hint 5</td>
  </tr>
            @for(item <- list) {
                @tr(item.question.text, item.question.hint1, item.question.hint3, item.question.hint5)
            }
</table>
        }
        case None => {
            <p>No Questions found</p>
        }
    }

<h3>Navigation</h3>
<div id="nav">
    <a href="/surveys">Create New Survey</a>
</div>

}
