@import models.SurveyModel._
@(form: Form[Survey], orgs: Option[List[SurveyRecord]])

@tr(id: Long, s: String) = {
  <tr>
    <td>@id.toString</td>
    <td>@s</td>
  </tr>
}

@main("Welcome to Play") {

    @helper.form(action = routes.Surveys.post()) {
        @helper.inputText(form("name"),'_label -> "Survey Name")
    }

    @orgs match {
        case Some(list) => {
<table>
  <tr>
    <td>Survey ID</td>
    <td>Survey Name</td>
  </tr>
            @for(item <- list) {
                @tr(item.id, item.name)
            }
</table>
        }
        case None => {
            <p>No Surveys found</p>
        }
    }


}
