@import models.SurveyModel._
@(form: Form[Survey], orgs: Option[List[SurveyRecord]])

@tr(s_id: String, name: String) = {
  <tr>
    <td><a href="/form/@s_id">@s_id</a></td>
    <td>@name</td>
  </tr>
}

@main("Welcome to Play") {

    @helper.form(action = routes.Surveys.post()) {
        @helper.inputText(form("name"),'_label -> "Survey Name")
    }

    @orgs match {
        case Some(list) => {
<table>
  <tr>
    <td>Survey ID</td>
    <td>Survey Name</td>
  </tr>
            @for(item <- list) {
                @tr(item.s_id, item.name)
            }
</table>
        }
        case None => {
            <p>No Surveys found</p>
        }
    }


}
